.login {
    width: 100%;
    height: auto;
    background-color: #404040;
    padding: 100px 40px 140px;
}

.login h4 {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    width: 204px;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
}

.login .form-control {
    background-color: #404040;
    border-radius: 0;
    border-top: unset;
    border-left: unset;
    border-right: unset;
    outline: none !important;
    box-shadow: none !important;
    color: #fff !important;
}

.login form {
    margin-top: 60px;
}
.login .form_lg-fx {
    display: flex !important;
    flex-direction: row;
    gap: 30px;
}

.login .form-text {
    margin-top: 2px;
    text-decoration: underline;
}

.login .form_idx {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
}

.login .form_idx .btn_form {
    width: 222px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    font-family: Montserrat;
    font-size: 12px;
}

.login .form_idx .btn_form:first-of-type {
    background-color: #404040;
    border-color: #fff;
}

textarea:hover, input:hover, textarea:active, input:active, select:active, select:hover, textarea:focus, input:focus, button:focus, button:active, button:hover, label:focus, .btn:active, .btn.active {
    background-color: #404040 !important;
    color: #fff;
}

@media screen and (min-width: 800px) {
    .login {
      height: 100vh;
      overflow: hidden;
    }
    .login h4 {
        font-size: 40px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .login .mb-3 {
        width: 677px !important;
        margin-left: auto;
        margin-right: auto;
    }
}