.products a {
    /* padding: 4vw !important; */
    font-size: 2.804vw;
}

.products div div ul li a {
    padding: 4vw !important;
}

/* ul {
    display: flex;
} */

div {
  border-bottom: unset !important;
}

.products {
    margin-top: 1rem;
}

.products h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 58px;
    font-weight: 500;
    margin-top: 60px;
    font-weight: 600;
} 

@media screen and (max-width: 800px) {
    .products h2{
        display: none;
    } 
    .products .product_tab_inner {
        padding-left: 20px;
        padding-right: 20px;
    }
    .products ul {
        display: flex;
        justify-content: center;
        gap: 5.33vw;
    }
}

.prod-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 3.505vw;
    margin-right: 3.505vw;
}

@media screen and (min-width: 800px) {
    .prod-wrapper {
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        gap: 33px;
        max-width: 1920px;
    }
    .products a {
        font-size: 24px;
    }
    .products div div ul li a {
        padding: 20px !important;
    }
    .products ul {
       display: flex;
       justify-content: center;
    }
}