.products a {
    /* padding: 4vw !important; */
    font-size: 2.804vw;
    font-family: 'Montserrat', sans-serif;
}


/* ul {
    display: flex;
} */

div {
  border-bottom: unset !important;
}

.products {
    margin-top: 1rem;
}

.products h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 58px;
    font-weight: 500;
    margin-top: 57px;
    margin-bottom: 34px;
    font-weight: 600;
} 

@media screen and (max-width: 800px) {
    .products h2{
        display: none;
    } 
    .products .product_tab_inner {
        padding-left: 20px;
        padding-right: 20px;
    }
    .products ul {
        display: flex;
        justify-content: space-between;
        margin-left: 15vw !important;
        margin-right: 15vw !important;
    }
    .products div div ul li a {
        padding-top: 3vw !important;
        padding-bottom: 3vw !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .products div div div {
        background-color: #000 !important;
    }
}

.prod-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 6.505vw;
    margin-right: 6.505vw;
}

@media screen and (min-width: 1921px) {
    .prod-wrapper {
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
        justify-content: center;
        gap: 33px;
        max-width: 1920px;
        display: grid;
        grid-template-columns: repeat(4, 438px);
    }
    .products a {
        font-size: 24px;
    }
    .products div div ul li a {
        padding: 8px 0!important;
        opacity: 1 !important;
    }
    .products ul {
       display: flex;
       justify-content: center;
       gap: 50px;
    }
    #id1 {
        background-color: #000;
    }
    .products div div div {
        background-color: #000 !important;
    }
}
@media screen and (min-width: 800px) and  (max-width: 1920px) {
    .prod-wrapper {
        margin-left: auto;
        margin-right: auto;
        margin-top: 1.302vw;
        justify-content: center;
        gap: 1.719vw;
        max-width: 1920px;
        display: grid;
        grid-template-columns: repeat(4, 22.813vw);
    }
    .products a {
        font-size: 1.250vw;
    }
    .products div div ul li a {
        padding: 0.417vw 0!important;
        opacity: 1 !important;
    }
    .products ul {
       display: flex;
       justify-content: center;
       gap: 2.604vw;
    }
    .products div div div {
        background-color: #000 !important;
    }
    #id1 {
        background-color: #000;
    }
    .products h2{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 3.021vw;
        font-weight: 500;
        margin-top: 2.969vw;
        margin-bottom: 1.771vw;
        font-weight: 600;
    } 
}