.condition {
    font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 800px) {
    .condition {
        padding: 30px;
    }
    
    .condition .title {
        border-bottom: 1px solid #000;
        padding-bottom: 5px;
    }
    
    .condition h2 {
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: left;
        color: #000;
    }
    
    .condition h4, h5 {
        font-weight: 600;
        line-height: 20px;
        font-size: 12px;
        text-align: left;
    }
    
    .condition p {
        font-weight: 400;
        line-height: 20px;
        font-size: 12px;
        text-align: left;
    }
}

@media screen and (min-width: 1921px) {
    .condition {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 150px;
        margin-top: 20px;
    }
    .condition_wrapper--pc {
        padding: 100px 60px;
        display: grid;
        grid-template-columns: 481px 418px;
        grid-column-gap: 48px;
     
    }
    .condition_wrapper--pc h4 {
        font-weight: bold;
        font-size: 20px;
    }
    .condition_wrapper--pc p {
        font-size: 20px;
        font-weight: 500;
        text-indent: 1px;
        list-style-type: square;
        display: list-item;
        margin-left: 20px;
        margin-top: 6px;
    }
    .condition_wrapper--pc h5 {
        font-weight: 600;
    }
    .wreg--pc {
        margin-top: -225px;
        line-height: 28px;
    }
    .treg--pc {
        margin-top: -39px;
    }
    .condition_wrapper--pc span {
        position: relative;
        left: 529px;
        top: -244px;
    }
    .condition_wrapper--pc span p {
        width: 447px !important;
    }
    .cond_btn {
        display: none;
    }
    .condition .title {
        position: absolute;
        margin-left: 87px;
        margin-top: 8px;
    }
}

@media screen and (min-width: 800px) and (max-width:1920px) {
    .condition {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 7.813vw;
        margin-top: 1.042vw;
    }
    .condition_wrapper--pc {
        padding: 5.208vw 3.125vw;
        display: grid;
        grid-template-columns: 25.052vw 21.771vw;
        grid-column-gap: 2.500vw;
     
    }
    .condition_wrapper--pc h4 {
        font-weight: bold;
        font-size: 1.042vw;
    }
    .condition_wrapper--pc p {
        font-size: 1.042vw;
        font-weight: 500;
        text-indent: 1px;
        list-style-type: square;
        display: list-item;
        margin-left: 1.042vw;
        margin-top: 0.313vw;
    }
    .condition_wrapper--pc h5 {
        font-weight: 600;
    }
    .wreg--pc {
        margin-top: -11.719vw;
        line-height: 1.458vw;
    }
    .treg--pc {
        margin-top: -2.031vw;
    }
    .condition_wrapper--pc span {
        position: relative;
        margin-left: 27.552vw;
        margin-top: -12.708vw;
        display: block;
    }
    .condition_wrapper--pc span p {
        width: 24.844vw !important;
    }
    .cond_btn {
        display: none;
    }
    .condition .title {
        position: absolute;
        margin-left: 4.531vw;
        margin-top: 0.417vw;
    }
}