.productList ul {
    overflow: auto;
    white-space: nowrap;
}
.productList {
    overflow-x: hidden;
}
.productList .list-wrapper {
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
.productList .prod-wrapper {
    margin-left: auto;
    margin-right: auto;
}
.productList a {
    font-family: Montserrat;
    font-weight:700 !important;
    color: #000 !important;
    font-size: 20px !important;
    opacity: 1 !important;
}

.productList .btm_view {
    width: 100%;
    height: 50px;
    background-color: #C73450;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    bottom: 0;
}

.productList .btm_view div {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.43;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}

.productList ul {
    /* padding-left: 2rem !important;
    padding-right: 2rem; */
}

@media screen and (min-width: 800px) {
    .productList .btm_view {
        display: none;
    }
    .productList {
        display: flex;
        position: relative;
    }
    .productList .acc_wrapper {
        position: absolute;
        top: 90px;
    }
}

@media screen and (min-width: 800px) and (max-width: 1920px) {
    .productList {
        display: unset;
        position: relative;
    }
}