.menu .nav-link {
    font-family: Montserrat;
}

.menu .bg-light {
    background-color: #fff !important;
}

.navbar-light .navbar-toggler {
    border-color: transparent !important;
    color: transparent !important;
}

.nav-link {
    color: #000 !important;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
}

.borderBottom {
    border-bottom: 1px solid #ddd !important;
    padding-bottom: 1rem;
}

.dropdown-item {
    font-family: Montserrat;
}

.dropdown-menu {
    border: unset !important;
}

.navbar-toggler {
    padding: 0 !important;
}

.dropdown-toggle::after {
    position: relative;
    content: '';
    display: block;
    width: 10px;
    height: 1px;
    background: white;
    transition: 0.3s ease-in-out;
}

.dropdown-toggle::before {
    transform: rotate(45deg);
}

.dropdown-toggle::after {
    left: 6px;
    top: 4px;
    transform: rotate(-90deg);
}

.dropdown-toggle.active .arrow::before {
    transform: rotate(-45deg);
  }
  
.dropdown-toggle.active .arrow::after {
transform: rotate(45deg);
}
.navbar-light .navbar-toggler-icon {
    background-image: url('../../assets/burger_menu.svg') !important;
    background-size: 26px !important;
}
.dropdown-toggle::after {
    background-image: url('../../assets/arrow_left.svg') !important;
    border: none !important;
}
@media screen and (min-width: 800px) {
    .nav-link {
        font-size: 23px;
    }
}


