.menu .bg-light {
    background-color: #fff !important;
   }

.navbar-light .navbar-toggler {
    border-color: transparent !important;
    color: transparent !important;
}

.nav-link {
    color: #000 !important;
}

.borderBottom {
    border-bottom: 1px solid #ddd !important;
    padding-bottom: 1rem;
}

