.burger_xl {
		position: absolute;
		float: left;
		width: 100%;
		text-align: center;
		margin: 20px 0 0 0;
		font-weight: 400;
		color: #333;
        top: 0;
        z-index: 101;
        font-family: 'Montserrat', 'sans-serif';
}

/* html,
body {
		width: 100%;
		height: 100%;
		overflow-x: hidden;
		margin-top: 0;
		margin-bottom: 0;
} */

*,
*:before,
*:after {
		/* -webkit-transition: all 0.1s;
		transition: all 0.1s; */
		box-sizing: border-box;
}

.burger-check {
		display: none;
}

.burger {
		position: relative;
		float: left;
		margin-left: 30px;
		width: 60px;
		height: 60px;
		cursor: pointer;
}

.burger:after {
		content: '';
		position: absolute;
		bottom: 7px;
		left: 0px;
		width: 100%;
		text-align: center;
		font-size: 13px;
}

.burger span,
.burger span:before,
.burger span:after {
		position: absolute;
		left: 10px;
		top: 22px;
	    width: 26px;
        height: 2px;
		background: #000;
		border-radius: 0.2em;
}

.burger span:before,
.burger span:after {
		content: '';
		left: 0;
}

.burger span:before {
		top: -8px;
}

.burger span:after {
		top: 8px;
}

.burger-check:checked + .burger:after {
		content: '';
}

.burger-check:checked + .burger span {
		height: 0;
		width: 0;
}

.burger-check:checked + .burger span:before,
.burger-check:checked + .burger span:after {
		top: 0;
}

.burger-check:checked + .burger span:before {
		-webkit-transform: rotate(225deg);
		-ms-transform: rotate(225deg);
		transform: rotate(225deg);
}

.burger-check:checked + .burger span:after {
		-webkit-transform: rotate(-225deg);
		-ms-transform: rotate(225deg);
		transform: rotate(-225deg);
}

span.boo {
		width: auto;
		margin-top: 0;
		line-height: 60px;
		height: 0;
		overflow: hidden;
}

#main-nav-test:checked ~ .boo {
		height: 50px;
}

.a-header {
		position: relative;
		float: left;
		width: 100%;
		margin: 0;
		min-height: 50px;
		background: #fff;
		overflow: hidden;
}

.a-header ul {
		position: relative;
		float: left;
		width: 100%;
		list-style: none;
		margin: 0;
		padding: 0;
        font-size: 23px;
        font-weight: 500;
        padding-left: 85px;
}

.a-header ul a {
		position: relative;
		float: left;
        width: 500px;
		height: 0;
		line-height: 50px;
		padding: 0 15px;
		text-decoration: none;
		overflow: hidden;
		color: #333;
		text-align: left;
}


.a-header ul a:hover,
.a-header ul a:active,
.a-header ul a:focus,
.a-header ul a:visited {
		text-decoration: none;
		background: #fff;
		border-bottom-color: #dadada;
}

#main-nav:checked ~ ul a {
		height: 65px;
}
.a-header_sub-nav {
    display: flex;
    gap: 61px;
    align-items: center;
    margin-top: 8px;
    font-size: 20px;
    font-weight: 700;
    padding-left: 10px;
}
/* dropdown here */
#main-nav:checked ~ ul {
    height: 612px;
    display: flex;
    flex-direction: row;
    gap: 3px;
    margin-top: 12px;
}

#main-nav:checked ~ ul li a {
    padding-top: 10px;
    padding-bottom: 3px;
    font-weight: 600;
}


#main-nav:checked ~ ul span li .btd {
    position: relative;
    top: 6px;
    border-top: 1px solid #dadada;
}

#main-nav:checked ~ ul li .brd {
    position: relative;
    top: -9px;
    padding-bottom: 41px;
}

#main-nav:checked ~ ul div a {
    height: 55px;
    cursor: pointer;
    font-weight: 500;
}

.arrow_xl {
    position: relative;
    top: 5px;
}

.ul_span {
    display: flex;
    flex-direction: column;
}

.arrow_lg_xl::after {
    content: '';
	background-image: url('../../assets/right-arrow.png');
    position: absolute;
	background-size: 15px;
    left: 96%;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    top: 50%;
}

.arrow_lg_xl {
	font-weight: 600 !important;
}

.sub_nav_xl {
    margin-left: 66px;
    cursor: pointer;
}

.a-header_sub-nav span a {
    color: #000;
}


  .c {
	display: flex;
	align-items: center;
	justify-content: center;
	height:100%;
	width:100%;
  }
  .c .dd .dd-a input:hover {
	color: #009DFF;
  }
  .c .dd {
	z-index:1;
	position:relative;
	display: inline-block;
  }
  .c  .dd-a {
	background:white;
	position:relative;
  }
  /* .c .dd input:after {
	content:"";
	width:100%;
	height:2px;
	position:absolute;
	display:block;
	background:#C63D0F;
	bottom:0;
	left:0;
	transform: scaleX(0);
	transform-origin: bottom left;
	transition-duration: 0.2s;
	-webkit-transform: scaleX(0);
	-webkit-transform-origin: bottom left;
	-webkit-transition-duration: 0.2s;
  } */
  .c .dd input {
	top:0;
	opacity:0;
	display:block;
	padding:0;
	margin:0;
	border:0;
	position:absolute;
	height:100%;
	width:100%;
  }
  .c .dd input:hover {
	cursor:pointer;
  }
  .c .dd input:hover ~ .dd-a  {
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  }
  .c .dd input:checked:after {
	transform: scaleX(1);
	-webkit-transform: scaleX(1);
  }
  .c .dd input:checked ~ .dd-c {
	transform: scaleY(1);
	-webkit-transform: scaleY(1);
  }
  /* .c .dd-a span {
	color:#C63D0F;
  } */
  .c  .dd-c{
	display:block;
	position: absolute;
	background:white;
	height:auto;
	transform: scaleY(0);
	transform-origin: top left;
	-webkit-transform: scaleY(0);
	-webkit-transform-origin: top left;
	left: 113%;
  }
  .c  .dd-d{
	display:block;
	position: absolute;
	background:white;
	height:auto;
	transform: scaleY(0);
	transform-origin: top left;
	-webkit-transform: scaleY(0);
	-webkit-transform-origin: top left;
	left: 113%;
  }
  .c .dd-c ul {
	margin:0;
	padding:0;
	list-style-type: none;
  }
  .c .dd-d ul {
	margin:0;
	padding:0;
	list-style-type: none;
  }
  .c  .dd-c li {
	margin-bottom:5px;
	word-break: keep-all;
	white-space:nowrap;
	display:block;
	position:relative;
  }
  .c  a {
	display:block;
	position:relative;
	text-decoration: none;
	padding:5px;
	background:white;
	color:#C63D0F;
  }
  /* .c a:before {
	z-index:0;
	content:"";
	position:absolute;
	display:block;
	height:100%;
	width:100%;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	transform-origin:top left;
	-webkit-transform-origin:top left;
	background:#C63D0F;
	top:0;
	left:0;
	transform: scaleX(0);
	-webkit-transform: scaleX(0);
  } */
  .c a span {
	display:block;
	position:relative;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
  }
  .c a:hover:before {
	transform:scaleX(1);
	-webkit-transform:scaleX(1);
  }
  /* .c a:hover span {
	color:white;
  } */


  /* gar utas */

  .cc {
	display: flex;
	align-items: center;
	justify-content: center;
	height:100%;
	width:100%;
  }
  .cc .ddd {
	z-index:1;
	position:relative;
	display: inline-block;
  }
  .cc  .ddd-aa {
	background:white;
	position:relative;
  }
  /* .c .dd input:after {
	content:"";
	width:100%;
	height:2px;
	position:absolute;
	display:block;
	background:#C63D0F;
	bottom:0;
	left:0;
	transform: scaleX(0);
	transform-origin: bottom left;
	transition-duration: 0.2s;
	-webkit-transform: scaleX(0);
	-webkit-transform-origin: bottom left;
	-webkit-transition-duration: 0.2s;
  } */
  .cc .ddd input {
	top:0;
	opacity:0;
	display:block;
	padding:0;
	margin:0;
	border:0;
	position:absolute;
	height:100%;
	width:100%;
  }
  .cc.ddd input:hover {
	cursor:pointer;
  }
  .cc .ddd input:hover ~ .ddd-aa {
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  }
  .cc .ddd input:checked:after {
	transform: scaleX(1);
	-webkit-transform: scaleX(1);
  }
  .cc .ddd input:checked ~ .ddd-d {
	transform: scaleY(1);
	-webkit-transform: scaleY(1);
  }
  /* .c .dd-a span {
	color:#C63D0F;
  } */
  .cc  .ddd-d{
	display:block;
	position: absolute;
	background:white;
	height:auto;
	transform: scaleY(0);
	transform-origin: top left;
	-webkit-transform: scaleY(0);
	-webkit-transform-origin: top left;
	left: 113%;
	top: -102%;
  }
  .cc .ddd-d ul {
	margin:0;
	padding:0;
	list-style-type: none;
  }
  .cc .ddd-d li {
	margin-bottom:5px;
	word-break: keep-all;
	white-space:nowrap;
	display:block;
	position:relative;
  }
  .cc  a {
	display:block;
	position:relative;
	text-decoration: none;
	padding:5px;
	background:white;
	color:#C63D0F;
  }
  /* .c a:before {
	z-index:0;
	content:"";
	position:absolute;
	display:block;
	height:100%;
	width:100%;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	transform-origin:top left;
	-webkit-transform-origin:top left;
	background:#C63D0F;
	top:0;
	left:0;
	transform: scaleX(0);
	-webkit-transform: scaleX(0);
  } */
  .cc a span {
	display:block;
	position:relative;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
  }
  .cc a:hover:before {
	transform:scaleX(1);
	-webkit-transform:scaleX(1);
  }
  /* .c a:hover span {
	color:white;
  } */