.basket {
    border-top: 1px solid #DADADA;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

.basket h3 {
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.basket h4 {
    font-size: 12px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.basket p {
    margin-top: 20px;
    font-size: 12px;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 800px) {
    .basket_xl {
        display: none;
    }
    .basket_sm--wrapper {
        padding-left: 50px;
        padding-right: 50px;
    }
    .basket .btm_view {
        width: 100%;
        height: 50px;
        background-color: #C73450;
        margin-top: 5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
        position: absolute;
        bottom: 0;
    }
    
    .basket_sm .btm_view div {
        font-family: Montserrat;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.43;
        letter-spacing: normal;
        text-align: left;
        color: #fff;
   
    }
}

@media screen and (min-width: 800px) {
    .basket_sm {
        display: none;
    }
    .basket_xl {
        display: flex;
        flex-direction: row;
    }
    .basket_xl--left {
        display: flex;
        flex-direction: column;
    }
    .basket_xl--left--prod {
        display: flex;
        flex-direction: row;
        gap: 50px;
    }
    .basket_xl--left--prod div {
        display: flex;
        flex-direction: column;
    }
    .basket_xl--left--prod .prod_img {
        width: 135px;
        height: 150px;
    }
    .basket_xl--left--prod .prod_img2 {
        width: 110px;
        height: 150px;
        margin-left: 24px;
    }
    .title {
        font-family: 'Montserrat', 'sans-serif';
        font-size: 28px;
        line-height: 26px;
        letter-spacing: 0.1em;
        font-weight: 600;
        font-stretch: normal;
    }
    .dtl {
        margin-top: 10px;
        font-family: 'Montserrat', 'sans-serif';
        font-size: 20px;
    }
    .basket_xl--left--prod:last-of-type {
        margin-top: 50px;
    }
    .dtl_info {
        width: 400px;
    }
}