.productDetail {
    font-family: 'Montserrat', sans-serif;
}


.carousel {
    background-color: #F4F4F4;
}

.productDetail .carousel .control-dots .dot {
    background: #000;
}

.productDetail .productDetail_info {
    display: flex;
    flex-direction: row;
    padding: 30px;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #DADADA !important;
}

.productDetail_info--desc {
    font-size: 21px;
    font-weight: bold;
}

.productDetail_info--price {
    display: flex;
    flex-direction: column;
    margin-top: 4.673vw;
}

.productDetail_info--price span:last-of-type {
    margin-top: 10px; 
    text-decoration: line-through;  
    color:grey;
}

.productDetail .productDetail_info .right {
    border: 1px solid #C73450;
    border-bottom:  1px solid #C73450 !important;
    padding: 5px;
    border-radius: 4.673vw;
    color: #C73450;
}

.productDetail .productDetail_payment {
    display: flex; 
    flex-direction: column;
    margin: 0 7.009vw;
}
.productDetail .productDetail_payment .top {
    display: inherit;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 4.673vw;
    gap: 4.673vw;
}

.productDetail .productDetail_payment .top button {
    font-family: inherit;
    font-size: 2.804vw;
    font-weight: 600;
    width: 31.542vw;
    height: 8.178vw;
    text-decoration: none;
    text-shadow: none;
    border: none;
    border-radius: 7.009vw;
    cursor: pointer;
}

.productDetail .productDetail_payment .top .btn_purchase {
    background-color: #C73450 !important;
    color: #fff !important;
}

.productDetail .productDetail_payment .top .btn_basket {
    color: #000 !important;
    background-color: #fff !important;
    border: 1px solid #D9D9D9;
}

.productDetail .productDetail_payment .mid {
    margin-top: 23px;
}

.productDetail .productDetail_payment .mid picture img {
    margin-left: auto;
    margin-right: auto;
    width: 370px;
    display: flex;
}

.productDetail .productDetail_payment .prod_btm {
    margin-top: 20px;
    font-size: 12px;
}

.productDetail .productDetail_payment .prod_btm h3 {
    margin-bottom: 20px;
}

.productDetail .productDetail_payment .prod_btm div {
    color: #646464;
}

.productDetail_wrapper {
    /* margin-left: 5vw;
    margin-right: 5vw; */
}

.productDetail_payment--prods {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.productDetail_payment .related {
    margin-top: 20px;
}