.step2 {
    font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 800px) {
    .step2_wrapper--pc {
        display: none;
    }
    .step2 form {
        padding: 30px 20px 0;
    }
    
    .step2 .lbl-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 90vw;
        height: 50px;
        border: 1px solid #ddd;
        border-bottom: 1px solid #ddd !important;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 5px;
        margin-top: 20px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    
    .step2 .lbl-wrapper p {
        margin-bottom: 0;
        font-size: 12px;
        font-family: "Montserrat", sans-serif;
    }
    
    .step2 .lbl-wrapper .step2-icon {
        width: 30px;
        height: 30px;
    }
    
    .step2 .form-check-input:checked {
       background-color: #2a1942;
       border-color: #2a1942;
    }
    
    .step2 .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        font-size: 12px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        margin-top: 2.6rem;
        background-color: #C73450;
        border: none;
    }
    
    .step2 .btn-primary {
        background-color: #C73450 !important;
        border-color: #C73450 !important;
    }
    
    .step2 .btn-primary:hover {
        background-color: #C73450 !important;
        border-color: #C73450 !important;
    }
    
    .step2 .btm_view {
        width: 100%;
        height: 50px;
        background-color: #C73450;
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
        position: absolute;
        bottom: 0;
    }
    
    .step2 .btm_view div {
        font-family: Montserrat;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.43;
        letter-spacing: normal;
        text-align: left;
        color: #fff;
    }
    
    .step2 .lbl-wrapper .form-check input {
        position: absolute;
        left: 90%;
    }
    .step2 .lbl-wrapper .form-check label {
        position: absolute;
        width: 82%;
        height: 10vw;
    }
    .step2 .off_dans {
        background-color: transparent !important;
        position: absolute;
        z-index: 10;
        height: 47px;
        width: 80vw !important;
        left: 12%;
        border: none !important;
        top: 146px;
    }
    .step2 .off_dans:hover {
        background-color: transparent !important;
        border-color: transparent !important;
    }
    .off_step2_header--sp {
        display: flex;
        flex-direction: column;
        font-family: "Montserrat", sans-serif;
    }
    .step2_sp_modal--wrapper {
        display: flex;
        background-color: #f4f4f4;
        justify-content: space-between;
        align-items: center;
        padding-left: 30px;
        padding-right: 30px;
        height: 139px;
    }
    .step2_sp_modal--wrapper .nt2 {
        font-weight: bold;
    }
    .step2_modal_pop--sp .offcanvas-bottom {
        height: 473px !important;
    }
    .step2 .footer 
    {
        display: none;
    }
    .inst--sp {
        display: flex;
        text-align: center;
        justify-content: center;
        margin-top: 40px;
    }
    .phone--sp {
        display: flex;
        text-align: center;
        justify-content: center;
        margin-top: 40px;
    }
    .phone--sp  span {
        font-weight: bold;
        margin-left: 10px;
    }
    .price_modal--sp {
        font-size: 18px;
        font-weight: bold;
        margin-top: 5px;
    }
    .payment_sel--sp {
        margin-top: 5px;
        font-size: 12px;
    }
    .account_sel--sp {
        color: #1B3268;
        font-size: 18px;
        font-weight: bold;
        margin-top: 5px;
    }
    .order--sp {
        font-size: 12px;
        margin-top: 10px;
    }
    .pay_btm--sp {
        width: 100vw;
        height: 51px;
        background-color: #C73450;
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
    }
    .pay_btm--sp a {
        color: #fff;
    }
}

@media screen and (min-width: 1920px) {
    .step2_wrapper {
        display: none;
    }

    .step2 .step2_wrapper--pc {
        padding: 15px 88px;
        display: flex;
        justify-content: space-between;
    }
    .step2 .step2_wrapper--pc  .inner_wrapper--pc h3{
        font-size: 28px;
        font-weight: bold;
    }
    .payment_selection--pc {
        position: relative;
        margin-top: 60px;
        width: 982px;
        display: grid;
        grid-template-columns: repeat(2, 470px);
        /* grid-column-gap: 20px; */
        gap: 24px;
    }
    .payment_selection--pc span div img {
        width: 40px;
        margin-right: 45px;
   
    }
    .payment_selection--pc span div{
        display: flex;
        font-weight: 600;
    }
    .payment_selection--pc span div div {
        font-size: 16px;
        font-weight: 600;
        font-stretch: normal;
    }   
    .payment_selection--pc span {
        height: 160px;
        box-shadow: 3px 3px 20px rgba(0,0,0,0.1);
        border-radius: 10px;
        padding: 15px;
        border: 0.5px solid #DADADA;
        cursor: pointer;
    }

    .payment_selection--pc span:hover {
        border-color: #8403fc;
    }

    .payment_title--pc {
        position: relative;
        left: 85px;
        font-size: 20px;
        font-weight: bold !important;
        top: -20px;
    }
    .popup--pc {
        position: absolute;
    }
}

@media screen and (min-width: 800px) and (max-width: 1920px) {
    .step2_wrapper {
        display: none;
    }

    .step2 .step2_wrapper--pc {
        padding: 0.781vw 4.583vw;
        display: flex;
        justify-content: space-between;
    }
    .step2 .step2_wrapper--pc  .inner_wrapper--pc h3{
        font-size: 1.458vw;
        font-weight: bold;
    }
    .payment_selection--pc {
        position: relative;
        margin-top: 3.125vw;
        width: 51.146vw;
        display: grid;
        grid-template-columns: repeat(2, 24.479vw);
        /* grid-column-gap: 20px; */
        gap: 1.250vw;
    }
    .payment_selection--pc span div img {
        width: 2.083vw;
        margin-right: 2.344vw;
   
    }
    .payment_selection--pc span div{
        display: flex;
        font-weight: 600;
        font-size: 0.833vw;
    }
    .payment_selection--pc span div div {
        font-size: 0.833vw;
        font-weight: 600;
        font-stretch: normal;
    }   
    .payment_selection--pc span {
        height: 8.333vw;
        box-shadow: 0.156vw 0.156vw 1.042vw rgba(0,0,0,0.1);
        border-radius: 0.521vw;
        padding: 0.781vw;
        border: 0.5px solid #DADADA;
        cursor: pointer;
    }

    .payment_selection--pc span:hover {
        border-color: #8403fc;
    }

    .payment_title--pc {
        position: relative;
        left: 4.427vw;
        font-size: 1.042vw;
        font-weight: bold !important;
        top: -1.042vw;
    }
    .popup--pc {
        position: absolute;
    }
}