.navbar-ab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-bottom: 1rem;

}

.logo {
    margin-top: 1.5rem;
}

.navbar-ab .right {
    display: flex;
    margin-top: 1.4rem;
    width: 60px;
    justify-content: space-between;
}

.navbar-ab .right .search-icon {
    width: 30px;
    height: 30px;
}