@media screen and (min-width: 800px) {
    .footer {
        width: 100%;
        height: 184px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 50px;
        margin-top: 100px;
    }
    
    .footer div{
        display: flex;
        flex-direction: column;
        font-family: 'Montserrat', sans-serif;
        line-height: 2em;
    }
    
    .footer div:first-of-type span:first-of-type {
        color: #A5A5A5;
    
    }
    
    .footer div:last-of-type span:nth-child(2){
        margin-top: 30px;
    }
    
    .footer div:last-of-type span:first-of-type{
        display: flex;
        gap: 10px;
    }
}

@media screen and (max-width: 800px) {
    .footer {
        width: 100vw;
        height: 286px;
        padding: 42px 70px;
        font-size: 10px;
        font-family: 'Montserrat', sans-serif;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        line-height: 2.5em;
    }

    .footer div:first-of-type span{
        display: block;
        line-height: 2em;
    }
    .footer div:last-of-type span:first-of-type a {
        width: 18px !important;
        height: 18px !important;
    }
    .footer div:last-of-type span:first-of-type a:nth-child(2) {
      margin-left: 5px;
      margin-right: 5px;
    }
    .footer div:last-of-type span {
        display: block;
    }
    .footer div:last-of-type {
        line-height: 2.3em;
    }
}