/* textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
select:active,
select:hover,
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
} */
.loan {
    font-family: Montserrat;
}


@media screen and (min-width: 1920px) {
    .form--pc {
        display: grid;
        grid-template-columns: repeat(2, 461px);
        grid-column-gap: 70px;
        grid-row-gap: 50px;
        font-size: 20px;
        margin-top: 50px;
    }
    .loan_layout--pc {
        display: flex;
        justify-content: space-between;
    }
    .form--pc input {
        font-size: 20px;
    }
    .form--pc select {
        font-size: 20px;
        margin-top: 10px;
    }
    .loan {
        padding: 30px 87px;
    }
    .loan h4 {
        font-size: 28px;
        font-weight: bold;
    }
    .loan .form-control  {
        border-top: unset;
        border-left: unset;
        border-right: unset;
        border-radius: 0%;
        padding: .875rem .75rem;
    }
    .loan .form-select {
        border-top: unset;
        border-left: unset;
        border-right: unset;
        border-radius: 0%;
        height: 50px;
        color: #212529;
    }
    .loan .loan__btn {
        display: none;
    }
}
@media screen and (max-width: 800px) {

    .loan {
        padding: 30px 25px;
        font-family: Montserrat;
    }
    .loan h4 {
        font-size: 12px;
    }

    .form--pc input {
        font-size: 12px;
    }

    .form--pc select {
        font-size: 12px;
    }

    .loan .total {
        display: none;
    }
    
    .loan .form-control  {
        border-top: unset;
        border-left: unset;
        border-right: unset;
        border-radius: 0%;
        padding: .875rem .75rem;
    }
    
    .loan .form-select {
        border-top: unset;
        border-left: unset;
        border-right: unset;
        border-radius: 0%;
        height: 50px;
        color: #212529;
    }
    
    .loan label {
       padding: 0.775rem;
    }
    
    .loan .loan__btn {
        width: 136px;
        height: 35px;
        margin: 3.1rem 16.2rem 0 0.1rem;
        border-radius: 17.5px;
        background-color: #1B3268;
        color: #fff;
        border: none;
        font-size: 12px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.83;
        letter-spacing: normal;
        text-align: center;
        color: #fff;
    }
}

@media screen and (min-width: 800px) and (max-width: 1920px) {
    .form--pc {
        display: grid;
        grid-template-columns: repeat(2, 24.010vw);
        grid-column-gap: 3.646vw;
        grid-row-gap: 2.604vw;
        font-size: 1.042vw;
        margin-top: 2.604vw;
    }
    .loan_layout--pc {
        display: flex;
        justify-content: space-between;
    }
    .form--pc input {
        font-size: 1.042vw;
    }
    .form--pc select {
        font-size: 1.042vw;
        margin-top: 0.521vw;
    }
    .loan {
        padding: 1.563vw 4.531vw;
    }
    .loan h4 {
        font-size: 1.458vw;
        font-weight: bold;
    }
    .loan .form-control  {
        border-top: unset;
        border-left: unset;
        border-right: unset;
        border-radius: 0%;
        padding: 0.729vw 0.625vw;
    }
    .loan .form-select {
        border-top: unset;
        border-left: unset;
        border-right: unset;
        border-radius: 0%;
        height: 2.604vw;
        color: #212529;
    }
    .loan .loan__btn {
        display: none;
    }
}