.purchase .tab1_wrapper, .tab2_wrapper  {
    padding: 50px 30px;
    font-size: 12px;
    font-family: Montserrat;
}

.purchase .lbl_txt {
    font-size: 12px;
    font-family: Montserrat;
}
 
.purchase div div ul li a {
    font-size: 12px;
    font-family: Montserrat;
}
.purchase .tabOne {
    background-color: black !important;
}

.purchase .form-control {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    padding-left: 2rem;
}

.purchase .form-label {
   margin-bottom: -1rem;
   position: relative;
}

.purchase ul {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem;
}

/* .purchase textarea:hover, input:hover, textarea:active, input:active, select:active, select:hover, textarea:focus, input:focus, button:focus, button:active, button:hover, label:focus, .btn:active, .btn.active {
    background-color: #fff !important;
} */


/* @media screen and (min-width: 1921px) {
    .purchase {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 1920px;
        margin-left: auto;
        margin-right: auto;
    }
} */
@media screen and (min-width: 800px) {
    .purchase {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .purchase .tab1_wrapper .form_xl {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 3.646vw;
        width: 52.083vw;
        max-width: 1000px;
    }
    .purchase .tab2_wrapper .form_xl {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 3.646vw;
        width: 52.083vw;
        max-width: 1000px;
    }
    .mb-3 {
        width: 24.010vw;
    }
}