.purchase .tab1_wrapper, .tab2_wrapper  {
    padding: 50px 30px;
    font-size: 12px;
    font-family: Montserrat;
}

.purchase .lbl_txt {
    font-size: 12px;
    font-family: Montserrat;
}
 
.purchase div div ul li a {
    font-size: 12px;
    font-family: Montserrat;
}
.tabOne {
    background-color: black !important;
}