._2Jtxm ._2kL0S, ._2Jtxm ._2JvrO {
    border-radius: 50%;
    height: 20px !important;
    width: 20px !important;
    line-height: 2.5rem;
    display: inline-flex;
    transform-origin: center;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    margin-bottom: 10px !important;
}
._2Jtxm ._1hzhf {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
}
._2Jtxm ._2kL0S, ._2Jtxm ._2JvrO svg {
    width: 10px;
}

._3uApM {
    display: none !important;
}
._3CDiP, ._hsN1w {
    border: none !important;
}