.banner {
    position: relative;
}

.carousel {
    position: absolute;
    width: 420px;
}

.carousel .slide picture img {
    width: 100%;
    vertical-align: top;
    border: 0;
    object-fit: cover;
}
.carousel .control-dots .dot {
    box-shadow: none !important;
}
@media screen and (min-width: 600px) {
    .carousel {
        width: 100%;
        height: 44.323vw;
    }
    .carousel .slide picture img {
        object-fit: contain;
    }
}