.find {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #fff;
    margin-top: 1.5rem;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 25px !important;
    border-top-left-radius: 25px !important;
}

.find  .find_wrapper input {
    width: 80%;
    height: 50px;
    border: unset;
    /* background-color: #f4f4f4; */
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    border-bottom: 1px solid #707070 !important;
}

.modal-content {
    border-top-left-radius: 25px !important;
    border-top-right-radius: 25px !important;
    border-radius: 25px !important;
}

.modal-content .btn-close {
    display: none;
}

.find  .find_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 4rem;
}

/* .find .find_wrapper textarea:hover, input:hover, textarea:active, input:active, select:active, select:hover, textarea:focus, input:focus, button:focus, button:active, button:hover, label:focus, .btn:active, .btn.active {
    background-color: #fff !important;
} */

.find ul {
    width: 95%;
    text-decoration: none;
    margin: 30px auto;
}
.find ul a {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 300;
    color: #757575;
}
.find ul li {
    list-style-type: none;
}
.item {
    width: auto;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 12px;
    font-weight: 300;
    color: #757575;
    border: 1px solid #dddd;
    padding: 10px;
    border-radius: 30px;
}

.modal-lg, .modal-xl {
    max-width: 917px !important;
}
